---
import { Image } from 'astro:assets'

const { title, image, price, startDate, endDate, location, categories } =
  Astro.props

const shortStartDate = startDate.toLocaleDateString('es-AR', {
  day: 'numeric',
  month: 'short',
})

const shortEndDate = endDate.toLocaleDateString('es-AR', {
  day: 'numeric',
  month: 'short',
})
---

<li class="rounded-xl relative [&>div]:p-2">
  <Image src={image} alt={title} format="webp" class="rounded-xl"/>
  <div class="flex flex-col items-start justify-between bg-gradient-to-l from-rural-black/50 to-rural-red/30 rounded-xl [&>h3]:px-2 [&>h3]:pt-2 [&>p]:px-2 absolute inset-0">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center justify-center gap-x-1 bg-rural-white rounded-full text-rural-black w-fit px-2 py-1 [&>p]:font-medium shadow-md shadow-rural-black">
        <p class="">{shortStartDate} -</p>
        <p class="">{shortEndDate}</p>
      </div>
      <p class="font-medium">{price}</p>
    </div>
    <div class="rounded-lg bg-rural-black/60 backdrop-blur-md text-rural-white px-3 py-2 shadow-md shadow-rural-black">
      <h3 class="text-xl font-black [font-stretch:ultra-expanded]">{title}</h3>
      <p class="">{location}</p>
      <p class="text-rural-white/70 font-medium">{categories}</p>
    </div>
  </div>
</li>
